.pokemonCard {
  border: 5px solid;
  border-style: double;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  width: 250px;
  text-align: center;
}

.pokemonCardLink {
  color: black;
  text-decoration: none;
}
